<div class="row">
  <h3>Update My Account</h3>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "col s12" }) do |f| %>
    <div class="row">
      <div class="input-field col s6">
        <%= f.text_field :first_name, autofocus: true, class: "validate", placeholder: "First Name" %>
      </div>
      <div class="input-field col s6">
        <%= f.text_field :last_name, autofocus: true, class: "validate", placeholder: "Last Name" %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <%= f.email_field :email, autofocus: true, class: "validate", placeholder: "Email Address" %>
      </div>
      <div class="input-field col s6">
        <%= f.text_field :phone, autofocus: true, class: "validate", placeholder: "Phone Number (+15555555555)" %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <%= f.password_field :password, class: "valdate", placeholder: "Password" %>
      </div>
      <div class="input-field col s6">
        <%= f.password_field :password_confirmation, class: "valdate", placeholder: "Password Confirmation" %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.password_field :current_password, class: "validate", placeholder: "Current Password" %>
      </div>
    </div>
    <div class="actions">
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
      <a class="btn waves-effect waves-light" href="#modal-user-delete">Cancel My Account</a>
      
    </div>
  <% end %>
</div>

<%= render 'shared/modal', modal_header: 'Confirm Account Deletion', modal_content: 'Are you sure you want to delete your account?', button_text: 'Confirm', modal_id: 'modal-user-delete', path: registration_path(resource_name), http_verb: :delete %>