<div class="row">
  <h3>Set New Password</h3>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.hidden_field :reset_password_token %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.password_field :password, autofocus: true, class: "valdate", placeholder: "Password" %>
      </div>
      <div class="input-field col s12">
        <%= f.password_field :password_confirmation, class: "valdate", placeholder: "Password Confirmation" %>
      </div>
    </div>
    <div class="actions">
      <button class="btn waves-effect waves-light" type="submit" name="action">Change Password
        <i class="material-icons right">send</i>
      </button>
    </div>
  <% end %>
  <div class="col s12 mt-30">
    <%= render "devise/shared/links" %>
  </div>
</div>

