<div class="carousel">
  <a class="carousel-item" href="#1"><%= image_tag 'glazed_donuts.jpg' %></a>
  <a class="carousel-item" href="#2"><%= image_tag 'coffee.jpg' %></a>
  <a class="carousel-item" href="#3"><%= image_tag 'buttermilk.jpg' %></a>
  <a class="carousel-item" href="#4"><%= image_tag 'vault_van.jpg' %></a>
  <a class="carousel-item" href="#5"><%= image_tag 'vanilla_glazed.jpg' %></a>
  <a class="carousel-item" href="#6"><%= image_tag 'donut.jpg' %></a>
  <a class="carousel-item" href="#6"><%= image_tag 'donut_boxes.jpg' %></a>
</div>