<div id="<%= modal_id %>" class="modal">
  <div class="modal-content">
    <h5><%= modal_header %></h5>
    <p><%= modal_content %></p>
  </div>
  <div class="modal-footer">
    <%= link_to button_text, path, method: http_verb, class: "modal-action modal-close waves-effect waves-green btn-flat" %>
    <%= button_tag "Cancel", type: "button", class: "modal-action modal-close waves-effect waves-green btn-flat" %>
  </div>
</div>
