<div class="card horizontal">
  <div class="card-image">
    <%= image_tag vendor.image.small, alt: "shop photo", class: "vendor-thumb-img" %>
  </div>
  <div class="card-stacked">
    <div class="card-content">
      <span class="card-title center"><strong><%= vendor.name %></strong></span>
        <div class="center">
          <p><%= vendor.address %></p>
          <p><%= vendor.email %></p>
        </div>
    </div>
    <div class="card-action blue-text">
      <% unless current_user.user_subscribed?(vendor.id) %>
        <a href="#modal-vendor-subscribe-<%= vendor.id %>" class="teal-text text-lighten-2">Track It!</a>
      <% end %>
      <%= link_to "Edit", edit_vendor_path(vendor), class: "teal-text text-lighten-2" %>
      <%= link_to "Delete", "#modal-vendor-delete-#{vendor.id}", class: "teal-text text-lighten-2" %>
    </div>
  </div>
</div>

<%= render 'user_vendors/subscribe_modal', vendor: vendor %>
<%= render 'shared/modal', modal_header: 'Confirm Vendor Deletion', modal_content: 'Are you sure you want to delete this shop?', button_text: 'Confirm', modal_id: "modal-vendor-delete-#{vendor.id}", path: vendor_path(vendor), http_verb: :delete %>
